$color-background: #ffd;
$color-text: #ffd;
$color-theme: green;
$color-theme-inverted: #000;

$font-family: 'Roboto', sans-serif;

$size-radius-small: 8px;
$size-radius-large: 16px;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
